body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #39434d;
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-height: 100vh;
    justify-content: flex-start;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #062f5b;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
header img {
    height: 50px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    cursor: pointer;
}

a {
    color: cyan;
    text-decoration: none;
}

.overlay {
    position: fixed; /* Fixed positioning to cover the entire viewport */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Semi-transparent background */
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* High z-index to overlay other elements */
    opacity: 0; /* Start hidden */
    transition: opacity 1s ease; /* Smooth transition for fade-in effect */
}

.ovrLogo {
    max-width: 200px; /* Limit logo size */
    margin-bottom: 20px; /* Space between logo and description */
}

.ovrdescription {
    font-size: 1.5em; /* Increase font size for better readability */
    text-align: center; /* Center the text */
}

.hamburger {
    font-size: 24px;
    color: white;
    cursor: pointer;
   
}


.sidebar {
    width: 250px;
    background-color: #062f5b;
    color: white;
    position: fixed;
    top: 0;
    z-index: 9999;
    left: -250px; /* Initially hidden */
    height: 100%;
    transition: left 0.3s ease;
}

.sidebar.active {
    left: 0; /* Show sidebar */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 15px;
    border-bottom: 1px solid #39434d;
}

.sidebar li:hover {
    background-color: #39434d;
}

.sidebar.active + .code-container {
    
    margin-left: 250px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.button-container .success-btn {
    flex: 1;
    margin: 0 5px;
    padding: 15px;
    color: white;
    background-color: #0abc3c;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container .success-btn:hover {
    background-color: #0c8b25;
}

.button-container .success-btn:disabled {
    color: #a9a9a9;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}


.button-container .primary-btn {
    flex: 1;
    margin: 0 5px;
    padding: 15px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container .primary-btn:hover {
    background-color: #0056b3;
}

.button-container .primary-btn:disabled {
    color: #a9a9a9;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

.hiddenTitles {
    display: none;
}
.button-container label {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.button-container button:hover {
    background-color: #0056b3;
}


footer {
    margin-top: auto;
    text-align: center;
    padding: 10px;
    background-color: #062f5b;
    color: white;
}

.user-table-container {
    padding: 20px;
    background-color: #39434d;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


@media (max-width: 768px) {


    .hamburger {
        display: block; /* Show hamburger on small screens */
    }

    .sidebar {
        width: 200px; /* Adjust width for mobile */
    }

  
}
