* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

a:visited {
    color: #0066cc;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #fff3b0; /* Light yellow background */
    color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #ffcc00; /* Banana yellow */
    padding: 20px 0;
    text-align: center;
}

.logo img {
    max-width: 150px; /* Adjust logo size */
}

.sidebar {
    background-color: rgba(255, 204, 0, 0.9); /* Semi-transparent banana yellow */
    padding: 20px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 200px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.3);
}

.sidebar h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin: 10px 0;
}

main {
    flex: 1; /* Allow main to grow and fill space */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    /* margin-left: 220px;  */
}

.project {
    background-image: url('../img/moha.png'); /* Placeholder for background image */
    background-size: cover;
    background-position: center;
    opacity: 0.8; /* Low opacity for background */
    color: white;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.3s;
}

.project:hover {
    transform: scale(1.05); /* Animation on hover */
}

footer {
    background-color: #ffcc00; /* Banana yellow */
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

/* Responsive Design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    main {
        margin-left: 0; /* Remove margin for mobile */
    }
}
