body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #39434d;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: flex-start;
}
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #062f5b;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
header img {
    height: 50px;
    margin-right: 20px;
}

ul {
    list-style-type: none;
}

ul li {
    cursor: pointer;
}

a {
    color: cyan;
    text-decoration: none;
}

.hamburger {
    font-size: 24px;
    color: white;
    cursor: pointer;
   
}

.user-table {
  overflow-x: auto;
  white-space: nowrap;
}

.sidebar {
    width: 250px;
    background-color: #062f5b;
    color: white;
    position: fixed;
    top: 0;
    left: -250px; /* Initially hidden */
    height: 100%;
    transition: left 0.3s ease;
}

.sidebar.active {
    left: 0; /* Show sidebar */
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li {
    padding: 15px;
    border-bottom: 1px solid #39434d;
}

.sidebar li:hover {
    background-color: #39434d;
}

.code-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    margin-left: 0;
    padding: 20px;
    transition: margin-left 0.3s ease;
}

.sidebar.active + .code-container {
    
    margin-left: 250px;
}

textarea {
    width: 100%;
    height: 200px;
    background-color: #39434d;
    border: 2px solid #062f5b;
    color: white;
    border-radius: 5px;
    padding: 10px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 16px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    resize: none;
}
.button-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-top: 10px;
}

.button-container .success-btn {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    color: white;
    background-color: #0abc3c;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container .success-btn:hover {
    background-color: #0c8b25;
}

.button-container .success-btn:disabled {
    color: #a9a9a9;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

.button-container .danger-btn {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    color: white;
    background-color: #ff2f00;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container .danger-btn:hover {
    background-color: #c82333;
}

.button-container .danger-btn:disabled {
    color: #a9a9a9;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

.button-container .grey-btn {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    color: white;
    background-color: #656565;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container .grey-btn:hover {
    background-color: #3e3e3e;
}

.button-container .grey-btn:disabled {
    color: #a9a9a9;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

.button-container .primary-btn {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.button-container .primary-btn:hover {
    background-color: #0056b3;
}

.button-container .primary-btn:disabled {
    color: #a9a9a9;
    cursor: not-allowed;
    opacity: 0.6;
    pointer-events: none;
}

/* .button-container button {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
} */
.hiddenTitles {
    display: none;
}
.button-container label {
    flex: 1;
    margin: 0 5px;
    padding: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.button-container button:hover {
    background-color: #0056b3;
}
#descriptionSelector {
    width: 100%;
    padding: 10px;
    margin-top: 20px;
    border: 2px solid #062f5b;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.description {
    background-color: #39434d;
    border: 1px solid #062f5b;
    border-radius: 5px;
    color: white;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.description2 {
    background-color: #39434d;
    border: 1px solid #062f5b;
    color: white;
    border-radius: 5px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
footer {
    text-align: center;
    padding: 10px;
    background-color: #062f5b;
    color: white;
}
.blink {
    animation: blink-animation 1s steps(5, start) infinite;
}

.user-table-container {
    padding: 20px;
    background-color: #39434d;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.table-responsive {
    overflow-x: auto;
    margin-top: 20px;
}

.user-table {
    width: 100%;
    border-collapse: collapse;
}

.user-table th, .user-table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #062f5b;
    color: white;
}

.user-table th {
    background-color: #062f5b;
}

.edit-button, .delete-button, .approve-button, .deny-button, .inv-button {
    padding: 5px 10px;
    margin: 0 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.edit-button {
    background-color: #007bff;
    color: white;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}

.approve-button {
    background-color: #0abc3c;
    color: white;
}

.deny-button {
    background-color: #9f9a09;
    color: white;
}

.deny-button:hover {
    background-color: #5d5407;
    color: white;
}

.inv-button {
    background-color: #8f8fe6;
    color: white;
}

.inv-button:hover {
    background-color: #31296c;
    color: white;
}

.approve-button:hover {
    background-color: #0c8b25;
    color: white;
}

.edit-button:hover {
    background-color: #0056b3;
}

.delete-button:hover {
    background-color: #c82333;
}

[id^="spoiler-"] {
    color: transparent;
    background-color: black;
    cursor: pointer;
    user-select: none;
}

.blinking-text {
    color: #ff2f00; /* A vibrant color for visibility */
    animation: blink 1.5s infinite; /* Animation duration and repetition */
}

@keyframes blink {
    0%, 100% {
        opacity: 1; /* Fully visible */
    }
    50% {
        opacity: 0; /* Fully invisible */
    }
}

@media (max-width: 768px) {


    .user-table-container {
        padding: 10px;
    }

    .user-table th, .user-table td {
        font-size: 14px;
    }

    .hamburger {
        display: block; /* Show hamburger on small screens */
    }

    .sidebar {
        width: 200px; /* Adjust width for mobile */
    }

    .code-container {
        margin-left: 0; /* No margin on mobile */
    }
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}
